body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 70px;
    border-bottom: 1px solid #DDD;
}

#sidebar {
    border-right: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    transition: width 0.3s, padding 0.3s;
    width: 250px;
    padding: 2em;
    box-sizing: border-box;
    position: relative;
}

#sidebar.collapsed {
    width: 50px;
    padding: 1em;
}

#main {
    flex: 1;
    overflow-y: scroll;
    padding: 3em;
    background-color: #ECEDF2;
}

#footer {
    border-top: 1px solid #DDD;
}

.header {
    height: 70px;
}

.footer {
    height: 70px;
}

#sidebar-main-section {
    flex: 1;
}

#main-dashboard-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}


@keyframes fade-in {
    from { opacity: 0; }
  }

  @keyframes fade-out {
    to { opacity: 0; }
  }

  @keyframes slide-from-right {
    from { transform: translateX(90px); }
  }

  @keyframes slide-to-left {
    to { transform: translateX(-90px); }
  }

  /* define animations for the old and new content */
  ::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  ::view-transition-new(slide-it) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }

  /* tie the view transition to a given CSS class */
  .sample-transition {
      view-transition-name: slide-it;
  }

  #sidebar-collapse-button {
    position: absolute;
    right: -1px;
    top: 5px;
    padding: 1em;
    cursor: pointer;
    background-color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDD;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
  }

  .sidebar-logo {
    max-width: 120px;
  }

  #sidebar h3 {
    margin: 0 0 0.3em;
    font-size: 0.9em;
    font-weight: 400;
    color: #999;
    padding: 0 1em;
  }

  #sidebar nav {
    margin-bottom: 2em;
  }

  #sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #sidebar ul li {
    padding: 0.5em 1em;
  }

  #sidebar ul li a {
    text-decoration: none;
    color: #555;
  }

  .sidebar-header {
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 0 1em ;
  }


  #sidebar footer {
    border-top: 1px solid #DDD;
    padding-top: 1em;
  }